@model IEnumerable<School_Task.ViewModels.Users>

@{
    ViewBag.Title = "ShowUserse";
}

<h2>@ViewBag.courseName</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
      
       
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id})
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
